@import 'utils/_common';


body{
  background: none;
  border: 5px solid green;

}

form{
    float: left;
    max-width: 30%;
    margin-right: 20px;
    textarea{
        width: 300px;
        height: 50px;
        resize: none;
    }
}
.list-entries-calls{
    width: 60%;
    float: right;
    table{
        table-layout: fixed;
        width: 100%;
        thead{
            th{
                width: 10%;
                &:last-child{
                    width: 80%;
                }
            }
        }
        tr{
            td{
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}


@import 'mobile/_tablets';
